* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navbar {
  background-color: green !important; }

.navbar img {
  width: 50px; }

.nav-link {
  color: white !important;
  font: bold; }

.jumbotron {
  height: 250px;
  background-image: url(../imagenes/imagen1.jpg);
  background-size: cover;
  background-position: center; }

h2 {
  text-align: center;
  background-color: green;
  padding: 15px;
  color: white;
  margin-bottom: 0; }

.nleft {
  height: 300px;
  background-image: url(../imagenes/eventodestacado.jpg);
  background-size: cover;
  background-position: center; }

.novedades article {
  background-color: #86e686;
  border: 3px solid white;
  text-align: center; }

.novedades .card-img1 {
  height: 300px;
  background-image: url(../imagenes/novedad1.jpg);
  background-size: cover;
  background-position: center; }

.novedades .card-img2 {
  height: 300px;
  background-image: url(../imagenes/novedad2.jpg);
  background-size: cover;
  background-position: center; }

.novedades .card-img3 {
  height: 300px;
  background-image: url(../imagenes/novedad3.jpg);
  background-size: cover;
  background-position: center; }

.novedades .card-img4 {
  height: 300px;
  background-image: url(../imagenes/novedad4.jpg);
  background-size: cover;
  background-position: center; }

.novedades {
  color: black; }

footer {
  text-align: center;
  background-color: green;
  color: white;
  text-transform: uppercase;
  font-size: 25px; }

footer a {
  color: white;
  text-decoration: none;
  font-size: 35px;
  letter-spacing: 15px; }
